{% extends "base.html" %}

{% block content %}
    <style>
        .recipe-list {
            list-style-type: none; /* Убирает точки */
            padding-left: 0; /* Убирает отступ слева, который браузер добавляет по умолчанию */
        }
    </style>
    <ul class="recipe-list">  <!-- Обернули в <ul> с классом recipe-list -->
    {% for recipe in recipe %}
        <li><h3>{{recipe.title }} </h3></li>
        <li><h4>{{ recipe.recipes|truncatewords:30 }}</h4></li>

        <div class="col-2">  
            {% if recipe.img %}
              <img src="{{ recipe.img.url }}" height=100>
            {% endif %}
          </div>
          <i><h7>Автор: {{recipe.author }} </h7></i>
        <div>
            <a href="{% url 'main:delete' recipe.id %}">Удалить</a> | <a href="{% url 'main:detail' recipe.id %}">Подробнее...</a>
        </div>
    {% endfor %}
    </ul>
{% endblock %}